.section1Container{
    margin-top: 90px;
}

.about1{
width: 350px;
height: 7px;
background-color: rgb(0, 175, 73);
border-radius: 300px;
}

.aboutLeft{
    width: 40%;
}

.aboutRight{
    width: 55%;
    font-size: 21px;
    font-weight: 600;
    text-align: start;
}